/**
 * Init ----------------------------------------------------------------------
 */
html, body, div, p, table, tr, td, h1, h2, h3, ul, li, form, fieldset, input, textarea, img, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

@font-face {
    font-family: 'Arvo';
    src: url('fonts/Arvo-Regular-webfont.eot');
    src: url('fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Arvo-Regular-webfont.svg#arvoregular') format('svg'), url('fonts/Arvo-Regular-webfont.woff') format('woff'), url('fonts/Arvo-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quicksand-regular-webfont.svg') format('svg'), url('fonts/quicksand-regular-webfont.woff') format('woff'), url('fonts/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand-bold-webfont.eot');
    src: url('fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quicksand-bold-webfont.svg') format('svg'), url('fonts/quicksand-bold-webfont.woff') format('woff'), url('fonts/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/**
 * Squelette
 */
html, body {
    background: #f3f2ef;
}

.container {
    position: relative;
    width: 768px;
    left: 50%;
    margin: 0 0 0 -384px;
    border-top: 5px solid #ff1937;
}

.rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.section {
    float: left;
    width: 100%;
    clear: both;
    margin: 0 0 34px 0;
    border-bottom: 1px solid #c2c2bf;
}

.section.no-border {
    border: 0;
    margin: 0;
}

h1 {
    position: relative;
    width: 100%;
    height: 363px;
    margin: 0 0 38px 0;
    border-bottom: 1px solid #c2c2bf;
    background: url(images/background.jpg) no-repeat 0 0;
}

.webgl h1 {
    background: none;
}

h1 canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

h1 span {
    display: none;
    z-index: 1;
    position: absolute;
    background: #000000;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    padding: 6px 8px 4px 8px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Arvo', serif;
    font-size: 23px;
    font-weight: normal;
    color: #000000;
    text-align: center;
    margin: 0 0 30px 0;
}

p.large {
    font-size: 17px;
    color: #060606;
    text-align: center;
    margin: 0 24px 34px 24px;
    line-height: 22px;
}

a,
a:visited,
a:hover {
    color: #ff1937;
    text-decoration: none;
}

.clear {
    width: 100%;
    float: left;
    clear: both;
}

ul {
    list-style-type: none;
}

/**
 * Tooltips
 */
.tooltip {
    top: 100px;
    left: 100px;
    z-index: 100;
    position: absolute;
    display: none;
}

.tooltip .corner-left {
    position: absolute;
    top: 12px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent #ff1937 transparent transparent;
}

.tooltip .corner-top {
    position: absolute;
    top: 0;
    left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #ff1937 transparent;
}

.tooltip .content {
    position: relative;
    top: 5px;
    margin-left: 5px;
    background: #ff1937;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 8px 5px 8px;
}

/**
 * Social
 */

.links {
    padding: 42px 0 76px 150px;
}

.links .item {
    position: relative;
    float: left;
    width: 38px;
    height: 38px;
    margin: 0 24px 0 0;
}

.links .item span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.links .item span.behance {
    background: url(images/social_behance.png) no-repeat center center #000000;
}

.links .item span.facebook {
    background: url(images/social_facebook.png) no-repeat center center #000000;
}

.links .item span.github {
    background: url(images/social_github.png) no-repeat center center #000000;
}

.links .item span.flickr {
    background: url(images/social_flickr.png) no-repeat center center #000000;
}

.links .item span.linkedin {
    background: url(images/social_linkedin.png) no-repeat center center #000000;
}

.links .item span.pinterest {
    background: url(images/social_pinterest.png) no-repeat center center #000000;
}

.links .item span.skype {
    background: url(images/social_skype.png) no-repeat center center #000000;
}

.links .item span.instagram {
    background: url(images/social_instagram.png) no-repeat center center #000000;
}

.links .item span.viadeo {
    background: url(images/social_viadeo.png) no-repeat center center #000000;
}

/**
 * Flickr
 */
.flickr {
    margin: 0;
    position: relative;
}

.flickr .picture {
    position: relative;
    width: 192px;
    height: 192px;
    float: left;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-filter: "alpha(opacity=70)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    filter: alpha(opacity=70);
    opacity: 0.5;
    overflow: hidden;
}

.flickr .picture img {
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.flickr .picture:hover img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

.flickr .flickr-caption {
    position: absolute;
    font-family: Arvo;
    font-size: 120px;
    color: #DFDDD6;
    left: -223px;
    bottom: 112px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

/**
 * 4 colonnes
 */
.col-4 {
    float: left;
    width: 162px;
    padding: 0 0 34px 24px;
    font-size: 13px;
}

.col-4 .picture {
    position: relative;
    width: 52px;
    height: 52px;
    margin: 0 0 12px 55px;
}

.col-4 .chart {
    position: relative;
    width: 52px;
    height: 52px;
    margin: 0 0 12px 55px;
}

.col-4 .picture img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.col-4 h3 {
    text-align: center;
    font-weight: normal;
    font-family: Arvo;
}

.col-4 p {
    font-size: 13px;
    text-align: center;
    line-height: 23px;
}

.col-4 ul li {
    text-align: center;
    line-height: 23px;
}

/**
 * 3 colonnes
 */
.col-3 {
    float: left;
    width: 224px;
    margin: 0 0 34px 24px;
    font-size: 13px;
}

.col-3 .heading {
    position: relative;
    width: 224px;
    height: 224px;
    margin: 0 0 18px 0;
    text-align: center;
}

.col-3 .heading img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.col-3 .heading .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.col-3 .heading .hover img {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.col-3 .heading .hover h3 {
    position: absolute;
    width: 100%;
    z-index: 6;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    top: 50%;
    margin-top: -10px;
}

.col-3 .heading .hover .date {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 6;
    color: #ffffff;
    font-size: 14px;
}

.col-3 .heading .hover .date-up {
    top: 49px;
}

.col-3 .heading .hover .date-down {
    top: 160px;
}

.col-3 .heading .hover .dates {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/company.png) no-repeat center center;
    z-index: 5;
}

.col-3 .heading .hover .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 4;

}

.col-3 ul li {
    text-align: center;
    line-height: 23px;
}

/**
 * Avatar
 */
.avatar {
    position: relative;
    left: 50%;
    width: 148px;
    height: 148px;
    margin: 0 0 34px -74px;
}

.avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Contact
 */
form {
    position: relative;
    font-size: 13px;
    height: 244px;
}

form .fields {
    width: 186px;
    float: left;
    margin: 0 24px 0 0;
}

form .fields input {
    width: 100%;
    height: 36px;
    background: #e7e6e3;
    text-indent: 10px;
    margin: 4px 0 21px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

form .message {
    position: relative;
    width: 348px;
    float: left;
    margin: 0 24px 0 0;
}

form .message textarea {
    width: 100%;
    height: 186px;
    background: #e7e6e3;
    line-height: 22px;
    margin: 4px 0 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    resize: none;
    overflow-y: auto;
}

form .message input {
    position: absolute;
    bottom: 9px;
    right: 6px;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    background: #ff1937;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 10px 5px 10px;
    cursor: pointer;
}

form .message .loader {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(images/loader.gif) no-repeat 0 0;
    bottom: 9px;
    right: 6px;
}

form .message .confirmation {
    text-align: right;
    position: absolute;
    bottom: 14px;
    right: 90px;
    font-size: 13px;
    color: #ff1937;
    font-weight: bold;
}

form .map {
    float: left;
    width: 186px;
    height: 189px;
    margin: 16px 0 0 0;
    background: url(images/map.jpg) no-repeat 0 0;
    text-indent: -1000px;
    overflow: hidden;
}

form .required {
    box-shadow: inset 0 0 3px #ff1937;
    -moz-box-shadow: inset 0 0 3px #ff1937;
}