/**
 * Init ----------------------------------------------------------------------
 */
html, body, div, p, table, tr, td, h1, h2, h3, ul, li, form, fieldset, input, textarea, img, canvas {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    background: #dad3c7;
    color: #5d5d5d;
    font-family: "Roboto Slab", "serif";
}

h1 {
    font-weight: 400;
    font-size: 28px;
    margin: 50px 0 0 50px;
}
p {
    margin: 20px 0 0 50px;
    font-size: 20px;
    font-weight: 300;
}